<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Control de asistencia</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of materias">
    <ion-item>
      <ion-label>
        <h2 no-margin class="fw500 no-margin">
          <ion-text color="dark">{{ item.descripcion }}</ion-text>
        </h2>
        <p class="text-11x no-margin">
          <ion-text color="primary">{{ item.codigo }}</ion-text>
        </p>
        <p class="text-11x no-margin">
          <ion-text color="secondary">{{ item.curso }}</ion-text>
        </p>
      </ion-label>

      <ion-button size="medium" color="primary" (click)="goToAsistencia()">
        <ion-icon name="locate"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <!-- <ion-card no-margin class="no-radius">
    <ion-item lines="none" color="medium">
      <ion-label>
        <h2 no-margin class="fw500 no-margin">
          <ion-text color="dark">Alert / Toast test</ion-text>
        </h2>

        <p class="text-11x no-margin">
          <ion-text color="primary">{{yourLocation}}</ion-text>
        </p>
      </ion-label>
      <ion-button shape="round" fill="outline" size="small" color="primary" (click)="alertLocation()">
        Location
        <ion-icon name="locate"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card class="bg-white">
    <ion-img [src]="themeCover"></ion-img>
    <ion-button expand="full" color="dark" (click)="presentImage(themeCover)" no-margin>
      Modal 1: Modal Image
    </ion-button>
  </ion-card>

  <ion-button margin shape="round" expand="full" color="secondary" (click)="searchFilter()">
    Modal 2: Search Filter
  </ion-button>

  <popmenu></popmenu> -->

</ion-content>