<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Control de asistencia</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let item of alumnos">
    <ion-item>
      <ion-label>
        <h2 no-margin class="fw500 no-margin">
          <ion-text color="dark">{{ item.nombre}}</ion-text>
        </h2>
        <p class="text-11x no-margin">
          <ion-text color="primary">{{ item.apellido_paterno}} {{item.apellido_materno}}</ion-text>
        </p>
      </ion-label>
      <ion-button size="medium" color="primary" (click)="goSaveAsistencia(item,'A')">
        <ion-icon name="locate"></ion-icon>
      </ion-button>
      <ion-button size="medium" color="primary" (click)="goSaveAsistencia(item,'P')">
        <ion-icon name="locate"></ion-icon>
      </ion-button>
      <ion-button size="medium" color="primary" (click)="goSaveAsistencia(item,'F')">
        <ion-icon name="locate"></ion-icon>
      </ion-button>
      <ion-button size="medium" color="primary" (click)="alertLocation()">
        <ion-icon name="locate"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>